@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body {
    background: blue;
    /* justify-content: center; */
    /* margin: 0 auto; */
    position: absolute;
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    font-family:'Big Shoulders Display', Courier;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:750px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 45px;
    border-radius: 3px;
}

.wholeGame {
    height: 100%;
    width: 100%;
    /* position: absolute; */
    background-color: darkblue;
    border-radius: 3px;
    border: 2px solid gold;
}

.categories {
    height: 50px;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-shadow: 2px 2px 2px black;
    border: 2px solid gold;
    /* flex: space-between; */
    padding: 25px;
    /* margin: 0 auto; */
    font-size:30px;
    border-radius: 3px;
}

#category1, #category2, #category3, #category4, #category5 {
    border: 2px solid black;
    width: 100%;
    height: 50px;
    padding: 25px 25px 25px 25px;
    align-content: center;
    border-radius: 3px;
}

#column1, #column2, #column3, #column4, #column5 {
    height: 400px;
    width: 105px;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-shadow: 2px 2px 2px black;
    border: 2px solid gold;
    flex-direction: column;
    padding: 15px 20px 5px 20px;
    float: left;
    border-radius: 3px;
    /* margin: 0 auto; */
    /* flex-wrap: nowrap; */
    /* overflow: hidden; */
}

#question1, #question2, #question3, #question4, #question5, #question6, #question7, #question8, #question9, #question10, #question11, #question12, #question13, #question14, #question15, #question16, #question17, #question18, #question19, #question20, #question21, #question22, #question23, #question24, #question25 {
    border: 1px solid black;

    display: none;
}

#question-textbox1, #question-textbox2, #question-textbox3, #question-textbox4, #question-textbox5, #question-textbox6, #question-textbox7, #question-textbox8, #question-textbox9, #question-textbox10, #question-textbox11, #question-textbox12, #question-textbox13, #question-textbox14, #question-textbox15, #question-textbox16, #question-textbox17, #question-textbox18, #question-textbox19, #question-textbox20, #question-textbox21, #question-textbox22, #question-textbox23, #question-textbox24, #question-textbox25 {
    padding: 14px 18px;
	background-color:darkblue;
	border: 1px solid gold;
	outline: none;
	border-radius: 3px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#openQuestion1, #openQuestion2, #openQuestion3, #openQuestion4, #openQuestion5, #openQuestion6, #openQuestion7, #openQuestion8, #openQuestion9, #openQuestion10, #openQuestion11, #openQuestion12, #openQuestion13, #openQuestion14, #openQuestion15, #openQuestion16, #openQuestion17, #openQuestion18, #openQuestion19, #openQuestion20, #openQuestion21, #openQuestion22, #openQuestion23, #openQuestion24, #openQuestion25 {
	background-color:darkblue;
	border: 1px solid gold;
	outline: none;
	border-radius: 4px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    left: 50%;
    top: 50%;
    height: 70px;
    width: 100px;
}


#A1Answer, #B1Answer, #C1Answer, #D1Answer {
    border: 1px solid black;
    /* height: 200px;
    width: 225px; */
    padding: 6px;
    z-index: 1;
    /* overflow: auto; */
    display: none;
    cursor: pointer;
    left: 50%;
    top: 50%;
    position: absolute;
}

#A1, #B1, #C1, #D1 {
    cursor: pointer;
    background-color:rgb(74, 74, 189);
	border: 1px solid gold;
	outline: none;
	border-radius: 3px;
    color: white;
    font-size: 18px;
}